.about-list {
    display: flex;
}

.about-item {
    width: 270px;

&:not(:last-child) {
    margin-right: 30px;
    }
}

.wrapper {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}

.about-title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    @include font();
    text-transform: uppercase;
}

.about-text {
    color: var(--color);
    @include font($fw: 400, $lh: 24px);
}