.section-team {
    background-color: var(--secondary-background-color);
}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

&:not(:last-child) {
    margin-right: 30px;
        }
    
& .team-title {
    padding-top: 30px;
    margin-bottom: 10px;
    
    color: var(--title-text-color);
    @include font($fs: 16px, $fw: 500, $lh: 19px,);
    text-align: center;
        }
    
& .team-text {
    margin-bottom: 16px;
    @include font($fs: 16px, $fw: 400, $lh: 19px);
    text-align: center;
        }
}



.social-list {
    @extend %align;
    gap: 10px;
    padding-bottom: 30px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link {
    @extend %align;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-funk),
     fill var(--transition-dur-and-funk);

&:hover,
&:focus {
    background-color: var(--accent-color);
        }
    
&:hover .social-icon,
&:focus .social-icon {
    fill: var(--background-color);
        }
}

.social-icon {
    fill: var(--social-links-color);
}
