.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    width: 270px;

& .work-item:not(:last-child) {
    margin-right: 30px;
        }
}



.work-item {
    position: relative;
}

.work-subtitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--background-color);
    @include font();
    text-align: center;
    text-transform: uppercase;
}