
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 101;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--transition-dur-and-funk),
            visibility var(--transition-dur-and-funk);
    }
.mobile-menu.js-menu-container.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu__container {
        position: relative;
        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .mobil-menu__close-btn {
        position: absolute;
        top: 11px;
        right: 15px;
        width: 40px;
        height: 40px;
        color: var(--title-text-color);
        border: 0;
        background-color: transparent;
        line-height: 0;
    }

    .mobil-menu__close-icon {
        width: 18px;
        height: 18px;
    } 
        .mobile-menu__list {
            margin-bottom: 306px;
        }
    .mobile-menu__item:not(:last-child) {
            margin-bottom: 32px;
        }
       
         .mobile-menu__link {
             color: var(--title-text-color);
             @include font($fs: 40px, $fw: 500, $lh: 1.18, $ls: 0.02em);
                &:hover,
                    &:focus {
                        color: var(--accent-color);
                    }
                
 }
 .mobile-menu__link_current {
        color: var(--accent-color)
    }
 .mobile-menu__contact-list {
    margin-bottom: 64px;
 }

 .mobile-menu__contact-tel {
    color: var(--accent-color);
        @include font($fs: 34px, $fw: 500, $lh: 1.18, $ls: 0.02em);
        &:hover,
        &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

 }
 .mobile-menu__contact-mail {
    color: var(--color);
        @include font($fs: 24px, $fw: 500, $lh: 1.17, $ls: 0.02em);
        &:hover,
            &:focus {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
 }
 .mobile-menu__social-link-list {
    display: flex;
    justify-content: start;
 }
 .mobile-menu__social-link-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
 }
 .mobile-menu__social-link-item:not(:first-child) {
    padding-left: 10px;
 }
 .mobile-menu__social-link {
    font-weight: 500;
    color: var(--accent-color);
        @include font($fs: 18px, $fw: 500, $lh: 1.22, $ls: 0.02em);
        &:hover,
            &:focus {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
 }
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
