@media screen and (min-width: 320px) {
    .modal-window {
            position: absolute;
            width: 450px;
            height: 609px;
            padding: 40px;
            background-color: var(--background-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .modal-close-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            
            position: absolute;
            width: 30px;
            height: 30px;
            padding: 0;
            top: 8px;
            right: 8px;
    
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            background-color: transparent;
    
            }  

        .modal-close-icon:hover,
        .modal-close-icon:focus {
             fill: var(--accent-color);
        }
    
        .modal-window-text {
            margin-bottom: 12px;
            @include font($fs: 20px, $lh: 1.5);
            text-align: center;
    
            color: var(--title-text-color);
        }
}

@media screen and (min-width: 1200px) {
    .modal-window {
            width: 528px;
            height: 581px;
        }
    
        .modal-window-text {
            margin-bottom: 12px;
            @include font($fs: 20px, $lh: 1.15);
    
            color: var(--title-text-color);
        }
}

